{% extends 'master' %}

<!--
    home view display the home page for users
-->

{% block content %}
    <div class="page-header text-center">
        <h2>Welcome to the Hayner's Tye-Dyes!</h2>
    </div>
{% endblock %}