{% extends 'master' %}

<!-- 
    login allows users to log into their account
-->

{% block content %}
    <div class="container">
        <div class="row centered-form">
            {% if old('errors') %}
                <div class="alert alert-danger">
                    {% for error in old('errors') %}
                        <li> {{ error.message }} </li>
                    {% endfor %}
                </div>
            {% endif %}
            {% if loginError %}
                <div class="alert alert-danger">
                    <li> {{ loginError }} </li>
                </div>
            {% endif %}
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    	<h3 class="panel-title">Please Sign In</h3>
			 	</div>
			 	<div class="panel-body">
                    {{ form.open({action: 'AuthController.login' }) }}

                        {{ csrfField }}

                        <fieldset class="form-group">
                            {{ form.email('email', null, { class: 'form-control input-sm', placeholder: 'Email Address' }) }}
                        </fieldset>

                        <fieldset class="form-group">
                            {{ form.password('password', null, { class: 'form-control input-sm', placeholder: 'Password' }) }}
                        </fieldset>

                        {{ form.submit('Sign In', null, { class: 'btn btn-info btn-block' }) }}
                    {{ form.close() }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
